<div class="post">


	<!-- User Avatar -->

	<img class="float-left rounded-circle" src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/27544666_1610932332316513_8799680780576811652_n.jpg?_nc_cat=0&oh=4330b0848c4004b64bb29fb68f0715ed&oe=5B30B348" height="30px" width="30px">


	<!-- Post Content  -->

	<div class="post-content">

		<!-- Username -->

		<span class="username font-weight-bold">
		arturbegyan 
		</span>


		<!-- ChatGroup -->

		<span class="chatgroup text-secondary">
		Elon Musk
		</span>

		<!-- Context (chat where the post comes from) -->


		<span class="context float-right">
		Context
		</span>


		<!-- Post Text -->

		<p class="post-text">

		 I think that the Angular app looks cool
		 <span class="text-secondary">
		 	more
		 </span>
		</p>


	</div>


	<!-- Post Actions -->

	<div class="post-actions">

		<button mat-button>
		LIKE
		</button>

		<button mat-button>
		COMMENT
		</button>

		<span class="timestamp text-secondary float-right">5h ago</span>

	</div>

	<!-- List of Comments -->
	<div class="comments">

		<app-post-comment> 
		</app-post-comment>

	</div>


	<!-- Comment Form -->

	<mat-form-field class="comment-form-field">

  		<textarea 
  		matInput 
  		placeholder="Write a comment" matTextareaAutosize matAutosizeMinRows="1"
        matAutosizeMaxRows="5"></textarea>

	</mat-form-field>


	





</div>