
<mat-card class="chat-card">


  <!-- Card Avtar --> 
  <div class="card-avatar">

    <img class="img-fluid rounded" src="https://static-news.moneycontrol.com/static-mcnews/2017/07/RTX3C49K-770x433.jpg"> 

  </div>

  <!-- Card Content -->

  <div class="card-content-top">

    <!-- Card Title -->
    <div class="card-title">  
      
      <mat-card-header>

        
        <mat-card-title>What Elon Musk's Compensation Deal Means for Tesla Motors</mat-card-title>

        <mat-card-subtitle 
        class="card-chatgroup-name">
        Elon Musk
        </mat-card-subtitle>

      </mat-card-header>  
        
    

    </div>

  <!-- Chat's most recent message -->

  <div class="card-recent-message">

    <!-- The avatar of the user who produced the top message -->
    <div class="card-user-avatar">

      <img class="img-fluid rounded-circle" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-1/p320x320/27544666_1610932332316513_8799680780576811652_n.jpg?oh=4ab2808f6c95e0cc187632daf5d3e668&oe=5B360964"> 

    </div>
  
    <!-- The content of the top message -->
    <div class="card-user-message">

       <span> On Wednesday, Tesla Motors investors approved a compensation... </span>




    </div>


    
    <!-- Clearing the effect of floats -->
    <div style="clear:both"> </div>



  </div>


  </div>


 

  
  <!-- Clearing the effect of floats -->
  <div style="clear:both">  </div>



  <!--
  <mat-card-actions class="chat-card-footer">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>

  -->

  <mat-card-actions class="chat-card-actions">
  
    <div class="float-left">

      <button mat-button>UPVOTE</button>
      <span>25</span>
      <button mat-button>DOWNVOTE</button>

    </div>


    <div class="float-right">
    
      <button mat-button>SAVE</button>
      <button mat-button>OPTIONS</button>
      
      <!-- Menu of potential options -->
      <!--  
      <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
      </button>

      -->


      


    </div>

    <!-- Clearing the effect of floats -->
    <div style="clear:both">  </div>







    
  </mat-card-actions>
</mat-card>

