<div class="chatgroup">

	<!-- Chatgroup Info -->

	<div class="chatgroup-info-container">

		<!-- Avatar -->

		<img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/21752215_10155264899144862_7777986485311439512_n.jpg?_nc_cat=0&oh=769bf23883e0b142f27a278990665f48&oe=5B280FB1" class="rounded-circle float-left" >

		<!-- Name -->

		<div class="chatgroup-info float-left">

			<h5 class="chatgroup-name float-left">
			{{chatgroup.name}}
			</h5>

			<!-- Actions -->

			<div class="actions float-left">

				<button 
				mat-button>
				FOLLOW
				</button>
			
			</div>

			<div style="clear:both"> </div>


			<!-- ChatGroup STATS -->

			<div class="stats">

				<button 
				mat-button>
				<span>{{chatgroup.followers_count}}</span>
				FOLLOWERS
				</button>

				<button 
				mat-button>
				<span>4</span>
				LOCAL CHATS
				</button>

				<button 
				mat-button>
				<span>3</span>
				TOPICS
				</button>
			
			</div>




			<div style="clear:both">
				
			</div>


		</div>	


		<!-- Clear the effect of floats -->
		<div style="clear:both"></div>


		<div class="chatgroup-about">


			<p>
			
			{{chatgroup.about}}
			
			</p>
			


		</div>




	</div>


	<div class="chats">
		<!--
		Put them back when the chat-feaure is configured
		<app-chat-card> </app-chat-card>
		<app-chat-card> </app-chat-card>
		<app-chat-card> </app-chat-card>
		-->
	</div>

	

</div>