<div class="chatgroup">

	<!-- Chatgroup Info -->

	<div class="chatgroup-info-container">

		<!-- Avatar -->

		<img src="https://image.freepik.com/free-icon/users-group_318-48680.jpg" class="rounded-circle float-left" >

		<!-- Name -->

		<div class="chatgroup-info float-left">

			<h5 class="chatgroup-name float-left">
				{{chatgroup.name}}
			</h5>

			<!-- Actions -->

			<div class="actions float-left">

				<button 
				mat-raised-button (click)="chatgroupNonHttpService.follow(chatgroup.label)">
				FOLLOW
				</button>
			
			</div>

			<div style="clear:both"> </div>


			<!-- ChatGroup STATS -->

			<div class="stats">

				<button 
				mat-button (click)="openDialog()" >
				<span>{{chatgroup.followers_count}}</span>
				FOLLOWERS
				</button>

				<button 
				mat-button>
				<span>{{chatgroup.topics_count}}</span>
				TOPICS
				</button>
			
			</div>




			<div style="clear:both">
				
			</div>


		</div>	


		<!-- Clear the effect of floats -->
		<div style="clear:both"></div>


		<div class="chatgroup-about">


			<p>
			
			{{chatgroup.about}}
			
			</p>
			


		</div>




	</div>


	<div class="chats" >


		<!-- Figure out how to manipulate the Child Component -->
		

		<app-chat-card *ngFor="let topic of topics" [topic]="topic">  
			
		
		
		</app-chat-card>
		


	</div>

	

</div>