

<form (ngSubmit)="onSubmit()">

<!-- Password1-->	

<mat-form-field>

    <input
    matInput 
    placeholder="New Password"
    [(ngModel)]="new_password1" name="new_password1">

</mat-form-field>


<!-- Password2 -->	

<mat-form-field>

    <input
    matInput 
    placeholder="Repeat New Password"
    [(ngModel)]="new_password2" name="new_password2">

</mat-form-field>


<button type="submit"> Submit </button>


<ul>
		
	<li>{{new_password1}}</li>
    <li>{{new_password2}}</li>			
	
</ul>
</form>


