<div id="chat">

	<div class="row">

		<div class="left_section col-lg-3">

			<mat-card class="header">

				<h5 class="text-center">

					Related

				</h5>


			<mat-card-actions class="chat-type-switches">

			    <button mat-button class="float-left">
			    TOPICS
			    </button>


			    <button mat-button class="float-right">
			    LOCAL CHATS
			    </button>

			    <div style="clear:both;"></div>

  			</mat-card-actions>


			</mat-card>


			<mat-form-field class="search-chats">

  			<textarea matInput placeholder="Search" matTextareaAutosize matAutosizeMinRows="1"
            matAutosizeMaxRows="5"></textarea>

			</mat-form-field>



			<div class="related-chats">

			<app-chat-card> </app-chat-card>

			<app-chat-card> </app-chat-card>
			<app-chat-card> </app-chat-card>


			</div>

		</div>


		<div class="middle_section col-lg-6">


			<mat-card class="header chatbox-header">

			<h5> Elon Musk's Compensation Deal</h5>

			<h6 class="text-secondary">Elon Musk</h6>

			</mat-card>


			<mat-card class="chatbox-content">
				<div class="chatbox-content-body">
					<!-- Messages in here -->
					<app-message *ngFor="let message of messages" [message]="message"> </app-message>
				</div>
			</mat-card>



			<div class="send-message">

				<mat-form-field class="float-left message-input">

						 <textarea 
						 matInput 
						 placeholder="Type your message" 
						 matTextareaAutosize 
						 matAutosizeMinRows="1"
						 matAutosizeMaxRows="5"
						 #inputMessage
						 maxLength="140"
						 [(ngModel)]="messageContent"
						 (keyup.enter)="sendMessage(messageContent)" 
						 >
			
						</textarea>

						<mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>



	  			</mat-form-field>


	  			<div class="float-left send-message-actions">

	  			<button mat-button [matMenuTriggerFor]="menu">OPTIONS</button>


				<mat-menu #menu="matMenu">
				  <button mat-menu-item>Photo</button>
				  <button mat-menu-item>Video</button>
				</mat-menu>

	  			</div>

			</div>


			</div>


		<div class="right_section col-lg-3">

			<mat-card class="header">


				<h5 class="text-center">

				Info

				</h5>


			</mat-card>

			<div class="info-cards">


				<mat-card class="info-card about">
					<mat-card-header>

						<mat-card-title>

							<span class="font-weight-bold">
							About
							</span>

						</mat-card-title>

					</mat-card-header>

					<mat-card-content>

						<p>What Elon Musk's Compensation Deal Means for Tesla Motors</p>

					</mat-card-content>


				</mat-card>


				<mat-card class="info-card participants">
					<mat-card-header>

						<mat-card-title>

							<span class="font-weight-bold">
							Participants
							</span>

						</mat-card-title>

					</mat-card-header>

					<mat-card-content>

					</mat-card-content>


				</mat-card>


			</div>

		</div>


	</div>


</div>



<!--

<div class="row">
  <div class="col-lg-3 border border-top-0">
    <h5 class="float-left">Topics</h5>
    <h5 class="float-right">Local</h5>
  </div>
  <div class="col-lg-6 border-bottom">
    <h5>Elon Musk's Compensation Deal</h5>
  </div>
  <div class="col-lg-3 border border-top-0">
    <h5>Info</h5>
  </div>
</div>

<div class="row" style="height:600px;">
  <div class="col-lg-3 border border-top-0">
    <form class="example-form">

      <mat-form-field style="min-width: 250px;">
        <span matPrefix>&nbsp;</span>
        <input type="tel" matInput placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

    </form>
    <div style="height: 500px; overflow-y: scroll;">
      <app-chat-card> </app-chat-card>
      <app-chat-card> </app-chat-card>
      <app-chat-card> </app-chat-card>
    </div>
  </div>
  <div class="col-lg-6 border-bottom">
    <div style="position: absolute; bottom: 0;">

      <app-message> </app-message>
      <mat-form-field class="float-left message-input">
          <textarea matInput placeholder="Write a message" matTextareaAutosize matAutosizeMinRows="1"
              matAutosizeMaxRows="5">
          </textarea>
      </mat-form-field>
      <div class="float-left send-message-actions">
        <button mat-button [matMenuTriggerFor]="menu">OPTIONS</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Photo</button>
          <button mat-menu-item>Video</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="col-lg-3 border border-top-0">
    <div class="row border-bottom">
      <strong>About</strong>
      <br>
      What Elon Musk's Compensation Deal Means for Tesla Motors
    </div>
    <div class="row border-bottom">
      <strong>Participants</strong>
    </div>
    <mat-list>
      <mat-list-item>
        <img matListAvatar src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Kim_Jong-un_at_the_Workers%27_Party_of_Korea_main_building.png/220px-Kim_Jong-un_at_the_Workers%27_Party_of_Korea_main_building.png" alt="...">
        <h3 matLine> Supreme Leader </h3>
        <p matLine>
          <span> Kim Jong Un </span>
          <span class="demo-2"> sent a message at 10:00 </span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <img matListAvatar src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Kim_Jong-un_at_the_Workers%27_Party_of_Korea_main_building.png/220px-Kim_Jong-un_at_the_Workers%27_Party_of_Korea_main_building.png" alt="...">
        <h3 matLine> Supreme Leader </h3>
        <p matLine>
          <span> Kim Jong Un </span>
          <span class="demo-2"> sent a message at 10:00 </span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <img matListAvatar src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Kim_Jong-un_at_the_Workers%27_Party_of_Korea_main_building.png/220px-Kim_Jong-un_at_the_Workers%27_Party_of_Korea_main_building.png" alt="...">
        <h3 matLine> Supreme Leader </h3>
        <p matLine>
          <span> Kim Jong Un </span>
          <span class="demo-2"> sent a message at 10:00 </span>
        </p>
      </mat-list-item>
    </mat-list>

  </div>
</div>
 -->
