<div id="chat">

		<div class="row">
	
			<div class="left_section col-lg-3">
	
				<mat-card class="header">
	
					<h5 class="text-center">
	
						Related
	
					</h5>
	
	
	
				</mat-card>
	
	
				<!-- <mat-form-field class="search-chats">
	
					<textarea matInput placeholder="Search" matTextareaAutosize matAutosizeMinRows="1"
							matAutosizeMaxRows="5"></textarea>
	
				</mat-form-field> -->
	
	
	
				<div class="related-chats">
	
						<app-chat-card *ngFor="let topic of relatedTopics" [topic]="topic"> </app-chat-card>
	
				</div>
	
			</div>
	
	
			<div class="middle_section col-lg-6">
	
	
				<mat-card class="header chatbox-header">
	
				<h5> {{topic.name}} </h5>
	
				<h6 class="text-secondary">
				
					<!-- <a [routerLink]="['/chatgroup', topic.chatgroup_object.label]">
					
					</a> -->
<!-- 
					<a [routerLink]="['/chatgroup', topic.chatgroup_object.label]">

						{{topic.chatgroup_object.name}}
				
					</a> -->
				</h6>
	
				</mat-card>
	
				<!-- <div id ="myId" #myId> -->
	
				<mat-card class="chatbox-content" id="chatbox-content">
					<div 

					infiniteScroll
					(scrolledUp)="onScroll($event)"
					class="chatbox-content-body" 
					id="chatbox" 
					#chatbox 
					ngx-auto-scroll 
					lock-y-offset="10"
					 observe-attributes>
						<!-- Messages in here -->
						<app-message *ngFor="let message of messages" [message]="message" [profile]="profileNonHttp.profile"> </app-message>
					</div>
				</mat-card>
	
	
	
				<div class="send-message">
	
					<mat-form-field class="float-left message-input">
	
							 <textarea 
							 matInput 
							 placeholder="Type your message" 
							 matTextareaAutosize 
							 matAutosizeMinRows="1"
							 matAutosizeMaxRows="5"
							 #inputMessage
							 maxLength="140"
							 [(ngModel)]="messageContent"
							 (keyup.enter)="sendMessage(messageContent)" 
							 >
				
							</textarea>
	
							<mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
	
	
	
						</mat-form-field>
	
	
						<div class="float-left send-message-actions">
	
						<button mat-button [matMenuTriggerFor]="menu">OPTIONS</button>
	
	
					<mat-menu #menu="matMenu">
						<button mat-menu-item>Photo</button>
						<button mat-menu-item>Video</button>
					</mat-menu>
	
						</div>
	
				</div>
	
	
				</div>
	
	
			<div class="right_section col-lg-3">
	
				<mat-card class="header">
	
	
					<h5 class="text-center">
	
					Info
	
					</h5>
	
	
				</mat-card>
	
				<div class="info-cards">
	
	
					<mat-card class="info-card about">
						<mat-card-header>
	
							<mat-card-title>
	
								<span class="font-weight-bold">
								About
								</span>
	
							</mat-card-title>
	
						</mat-card-header>
	
						<mat-card-content>
	
							<p>{{topic.about}}</p>
	
						</mat-card-content>
	
	
					</mat-card>
	
					<mat-card *ngIf="isOwner()" class="info-card edit-topic">
							<mat-card-header>
		
								<mat-card-title>
		
									<span class="font-weight-bold">
									Edit Topic
									</span>
		
								</mat-card-title>
		
							</mat-card-header>
		
							<mat-card-content>
		
								<p>Wanna edit the topic?</p>
								<!-- Edit Topic -->
								<button mat-raised-button (click)="editTopic()">EDIT TOPIC</button>
	
	
		
							</mat-card-content>
		
		
						</mat-card>
						
						
						<mat-card class="info-card delete-topic">
								<mat-card-header>
			
									<mat-card-title>
			
										<span class="font-weight-bold">
										Options
										</span>
			
									</mat-card-title>
			
								</mat-card-header>
			
								<mat-card-content>
			
	
									<!-- Delte Topic -->
									<button *ngIf="isOwner()" mat-raised-button (click)="deleteTopic(topic.label)">DELETE TOPIC</button>
	
									<!-- Upvote Topic | Downvote Topic -->
									<button mat-raised-button (click)="topicService.upvote(topic.label)">
										
											<span *ngIf="topic.upvoted"> REMOVE UPVOTE </span>
											<span *ngIf="!topic.upvoted"> UPVOTE </span>

									</button>
									
									
									<button mat-raised-button (click)="topicService.downvote(topic.label)">
										
										<span *ngIf="topic.downvoted"> REMOVE DOWNVOTE </span>
										<span *ngIf="!topic.downvoted"> DOWNVOTE </span>
										
									</button>
	
									<!-- Save Topic -->
									<button mat-raised-button (click)="topicService.save(topic.label)">
										
											<span *ngIf="topic.saved"> UNSAVE </span>
											<span *ngIf="!topic.saved"> SAVE </span>

									</button>
	
	
									<p> Topic Rating: {{topic.rating}}</p>
	
		
		
			
								</mat-card-content>
			
			
							</mat-card>						
	
	
					<!-- <mat-card class="info-card participants">
						<mat-card-header>
	
							<mat-card-title>
	
								<span class="font-weight-bold">
								Participants
								</span>
	
							</mat-card-title>
	
						</mat-card-header>
	
						<mat-card-content>
	
						<ul>
								<li *ngFor="let participant of topic.participants">
									{{participant.label}}
								</li>
						</ul>
	
						</mat-card-content>
	
	
					</mat-card> -->
	
	
				</div>
	
			</div>
	
	
		</div>
	
	
	</div>