
a { 
  color: inherit;
  font-size: inherit;
  text-decoration: none;

} 

.msg-left-section {

	width: 80%;
	
}

.msg-related-actions {

	width: 20%;
	
}	 


.msg h5 {
  margin-left: 50px;
  font-size: 14px;
	





  .msg-text {

	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;

	
	font-weight: normal;
	font-size: 14px;
	margin-top: 5px;


  }

  .timestamp {
  	font-size: 12px;
  	margin-left: 5px;
  }



}




/*


.msg_body {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  margin-left: 50px;
  font-weight: normal;
  font-size: 12px;
}


*/

