<div class="msg">
	<!-- The left section of the message -->
	<div class="float-left msg-left-section">

		<!-- User Avatar -->

		<img class="float-left rounded-circle" src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/27544666_1610932332316513_8799680780576811652_n.jpg?_nc_cat=0&oh=4330b0848c4004b64bb29fb68f0715ed&oe=5B30B348" height="40px" width="40px">

		<!-- Message Content -->
		<h5 class="msg-content">

			<!-- Username -->
			<span class="font-weight-bold"> {{message.from.label}} </span>

			<!-- Timestamp -->

			<span class="text-secondary timestamp"> {{ message.timestamp }}</span>

			<!-- Text/Image/Video/Link -->

			<p class="msg-text">
				
				{{message.content}}

			</p>

		</h5>

	</div>

	<!-- Message Related Actions -->

	<div class="float-left msg-related-actions">

	<button mat-button (click)="like(message.id)" >
		<span> {{message.likers_count}} </span>	
		<span> LIKE </span>	
	</button>
	<button mat-button>SHARE #</button>


	</div>

</div>