.user-card {

	max-width: 690px;
	margin: auto;
	margin-top: 50px;

	img {

		width: 10%;
		height: auto;
	}

}

.user-card-info {

	width: 60%;
	padding: 10px;
	padding-top: 0px;


}

.user-card-actions {

	width: 30%;


}