<div class="chatgroup-card">

	<!-- Avatar -->

	<img src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/21752215_10155264899144862_7777986485311439512_n.jpg?_nc_cat=0&oh=769bf23883e0b142f27a278990665f48&oe=5B280FB1" class="rounded-circle float-left">

	
	<div class="chatgroup-card-info float-left">

		<!-- ChatGroup Name -->

		<h5> Warwick Economics Summit </h5>


		<!-- ChatGroup About -->

		<p>The Warwick Economics Summit (WES) is the largest student-run summit in Europe</p>



	</div>

	<div class="chatgroup-card-actions float-left">

		<!-- Actions -->

		<button mat-button>FOLLOW</button>



	</div>


	<div style="clear: both"> </div>

</div>