.chatgroup-card {

	max-width: 690px;
	margin: auto;
	margin-top: 50px;

	img {

		width: 20%;
		height: auto;
	}

}

.chatgroup-card-info {

	width: 50%;
	padding: 10px;


}

.chatgroup-card-actions {

	width: 30%;


}