<form [formGroup]="form">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <label>Username:</label>
            <input name="username" formControlName="username">
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input name="password" formControlName="password" 
                   type="password">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" (click)="login()">Login</button>
    </div>
</form>



<!-- <p>  {{getToken()}}   </p> -->




<!-- 

<form (ngSubmit)="onSubmit()">


<mat-form-field>
    
    <input
    matInput 
    placeholder="Username"
    [(ngModel)]="username" name="username">
    

</mat-form-field>




<mat-form-field>

    <input
    matInput 
    placeholder="Password"
    [(ngModel)]="password" name="password">

</mat-form-field>


<button type="submit"> Submit </button>


<p>
 AuthToken: {{getToken()}}
</p>
</form>

 -->
