<div class="profile">

	<div class="row">

		<div class="col-lg-1"> </div>



		<div class="col-lg-10 text-center"> 
			<!-- User Avatar -->
			<img class="avatar rounded-circle" src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/27544666_1610932332316513_8799680780576811652_n.jpg?oh=4330b0848c4004b64bb29fb68f0715ed&oe=5B30B348">

			<!-- Username -->

			<h2 class="username text-center"> 
			{{profile$}}</h2>


			<!-- User about --> 

			<h4 class="user-about text-center">Sometimes I make stupid jokes</h4>


			<!-- Edit Profile -->
			<button mat-button>EDIT PROFILE</button>
			
			<!-- Follow -->
			<button mat-button>FOLLOW</button>




		</div>


		<div class="col-lg-1"> </div>

	</div>


	<!-- User Stats Start Here -->
	
	<div class="user-stats col-lg-12"> 
	
		<button mat-button>
			<span>47</span>
			<span> posts </span>
		</button>

		<button mat-button>
			<span>12</span>
			<span> chat groups </span>
		</button>

		<button mat-button>
			<span>34</span>
			<span> followers </span>
		</button>

		<button mat-button>
			<span>45</span>	
			<span> posts </span>
		</button>
	
	</div>


	<!-- The posts start in here -->

	<div class="row">
	
		<div class="col-lg-1"> </div>
		
		<!-- The POSTS are inside of this container -->
		<div class="col-lg-10">
			
			<!--
			<app-post> </app-post>
			-->
			
			<!-- Delete later -->

			<h1>Users</h1>

			<ul>
				
				<!-- <li *ngFor="let user of users">
				{{user.firstName}}  
				</li> -->

				<!-- {{usersFake}} -->



			</ul>


		</div>

		<div class="col-lg-1"> </div>


	</div>

</div>