<div *ngIf="profile$ | async as profile" class="profile">

	<div class="row">

		<div class="col-lg-1"> </div>



		<div class="col-lg-10 text-center"> 
			<!-- User Avatar -->
			<img class="avatar rounded-circle" src="https://scontent.fhen2-1.fna.fbcdn.net/v/t1.0-9/36045410_1755541641188914_5293124554653171712_n.jpg?_nc_cat=0&oh=ddd7bf3c023269479d02fa8d56ca5e2d&oe=5BADD3E0">

			<!-- Username -->

			<h2 class="username text-center">
			{{profile.label}}
			</h2>


			<!-- User about --> 

			<h4 class="user-about text-center">{{profile.about}}</h4>


			<!-- Edit Profile -->
			<button mat-raised-button (click)="editProifle()">EDIT PROFILE</button>
			
			<!-- Follow -->
			<button mat-button (click)="follow()">FOLLOW</button>




		</div>


		<div class="col-lg-1"> </div>

	</div>


	<!-- User Stats Start Here -->
	
	<div class="user-stats col-lg-12"> 
	
		<!-- <button mat-raised-button (click)="verifyToken()">
			<span>0</span>
			<span> Verify Token </span>
		</button> -->


		<button mat-raised-button 
		(click)="openDialog()">

			<span>{{profile.chatgroups_count}}</span>
			<span> chat groups </span>

		</button>

		<button mat-raised-button>
			<span>{{profile.followers_count}}</span>
			<span> followers </span>
		</button>

		<button mat-raised-button>
			<span>{{profile.following_count}}</span>	
			<span> following </span>
		</button>
	
	</div>


	<!-- The posts start in here -->

	<div class="row">
	
		<div class="col-lg-1"> </div>
		
		<!-- The POSTS are inside of this container -->
		<div class="col-lg-10">

			<ul>

				<li *ngFor="let post of posts"> {{post.message.sender.label}} : {{post.message.text}} </li>


			</ul>


		</div>

		<div class="col-lg-1"> </div>


	</div>

</div>