.pointer {
	cursor: pointer;
}

.profile {

	margin-top: 40px;
}

.avatar {

  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.username {

	font-weight: 300;
	font-size: 30px;
	margin-top: 20px;
}

.user-about {

	font-weight: 400;
	font-size: 18px;
	margin-top: 10px;


}


// User STATS SCSS starts here

.user-stats {

	text-align: center;
}