@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@import '~material-design-icons/iconfont/material-icons.css';

// Temporary font-family
body {

  font-family: "San Francisco", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  //background-color: #fafafa !important;
  background-color: white !important; 

 }
