<div class="user-card">

	<!-- Avatar -->

	<img src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/27544666_1610932332316513_8799680780576811652_n.jpg?oh=4330b0848c4004b64bb29fb68f0715ed&oe=5B30B348" class="rounded-circle float-left">



	<div class="user-card-info float-left">

		<!-- Username -->

		<h5> arturbegyan </h5>


		<!-- User About -->

		<p>Sometimes I make stupid jokes</p>



	</div>


	<div class="user-card-actions float-left">

		<!-- Actions -->

		<button mat-button>FOLLOW</button>



	</div>


	<div style="clear: both"> </div>

</div>